* {
  font-family: 'Poppins', sans-serif;
  color: white;
}

i {
  color:#FFDE91;
}

h1, h2 {
  color: white;
}

a {
  color:#FFDE91;
}

a:hover {
  color:#FFDE91;
  text-decoration: none;
  font-weight: bold;
}

.header {
  margin-top:3rem;
  padding: 3rem;
  background-color: #FF7E79;
  border-radius: 5px;
  text-align: center;
}

.subject {
  margin-top: 3rem;
  padding: 3rem;
  border: 1px solid #91B1FF;
  border-radius: 5px;
  background-color: #91B1FF;
}

.experience {
  border-left: 7px dotted white;
  padding-left: 1rem;
}

.bubble {
  background-color: white;
  color: #91B1FF;
  border-radius: 5px;
  padding: .5rem;
  margin: .3rem;
  display: inline-block;
}